<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Товары</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/orders">Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/person">Пользователи</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container bodysection">
    <h2>Добавление товара</h2>
<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <h4>Карточка нового товара</h4>
    <label for="title">Введите наименование: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title" class="fullwidth">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description" class="fullwidth" rows="8"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
            <!--            <option th:text="${element.getName()}" th:value="${element.getId()}"></optional>-->
        </div>
    </select>
    <br>
    <br>
    <label for="warehouse">Введите информацию о складе: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse" class="fullwidth">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller" class="fullwidth" rows="1"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>

<!--    <div>-->
<!--        <label for="image_uploads">Choose images to upload (PNG, JPG)</label>-->
<!--        <input-->
<!--            type="file"-->
<!--            id="image_uploads"-->
<!--            name="image_uploads"-->
<!--            accept=".jpg, .jpeg, .png"-->
<!--            multiple />-->
<!--    </div>-->
<!--    <div class="preview">-->
<!--        <p>No files currently selected for upload</p>-->
<!--    </div>-->

<!--    <br>-->
<!--    <br>-->
<!--    <p>Добавлениие фотографий товара: </p>-->
<!--    <label for="file_one">Choose image 1:</label>-->
<!--    <input type="file" name="file_one" id="file_one" accept="image/png, image/jpeg">-->
<!--    <input type="file" name="file_two" accept="image/png, image/jpeg">-->
<!--    <input type="file" name="file_three" accept="image/png, image/jpeg">-->
<!--    <input type="file" name="file_four" accept="image/png, image/jpeg">-->
<!--    <input type="file" name="file_five" accept="image/png, image/jpeg">-->
<!--    <input type="submit" value="Добавить">-->
<!--    <p style="color: red">Вы можете добавить до 5 фотографий (PNG, JPG).-->
<!--        <br>Первая фотография не может быть пустой.</p>-->
    <br>
    <br>
        <div class="container">
            <div class="row" style="padding-right: 0px!important; padding-left: 0px!important;">
                <p>Добавлениие фотографий товара: </p>
                    <p style="color: red">Первая фотография не может быть пустой. Вы можете добавить до 5 фотографий (PNG, JPG).
<!--                        <br>-->
                    </p>
                <div class="col-md-3 col-sm-12 col-12 text-center align-self-center" style="padding-right: 0px!important; padding-left: 0px!important;">
                    <div>
                        <a href="#" class="button-input">
                            <label for="file_one" id="add_img_1">Изображение 1:</label>
                        </a>
                        <input type="file" id="file_one" name="file_one" accept=".jpg, .jpeg, .png"/>
                    </div>
                    <div class="preview_file_one">
                        <p>Файл не загружен.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 text-center align-self-center" style="padding-right: 0px!important; padding-left: 0px!important;">
                    <div>
                        <a href="#" class="button-input-small">
                            <label for="file_two" id="add_img_2">Изображение 2:</label>
                        </a>
                        <input type="file" id="file_two" name="file_two" accept=".jpg, .jpeg, .png"/>
                    </div>
                    <div class="preview_file_two">
                        <p>Файл не загружен.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 text-center align-self-center" style="padding-right: 0px!important; padding-left: 0px!important;">
                    <div>
                        <a href="#" class="button-input-small">
                            <label for="file_three" id="add_img_3">Изображение 3:</label>
                        </a>
                        <input type="file" id="file_three" name="file_three" accept=".jpg, .jpeg, .png"/>
                    </div>
                    <div class="preview_file_three">
                        <p>Файл не загружен.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 text-center align-self-center" style="padding-right: 0px!important; padding-left: 0px!important;">
                    <div>
                        <a href="#" class="button-input-small">
                            <label for="file_four" id="add_img_4">Изображение 4:</label>
                        </a>
                        <input type="file" id="file_four" name="file_four" accept=".jpg, .jpeg, .png"/>
                    </div>
                    <div class="preview_file_four">
                        <p>Файл не загружен.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-6 text-center align-self-center" style="padding-right: 0px!important; padding-left: 0px!important;">
                    <div>
                        <a href="#" class="button-input-small">
                            <label for="file_five" id="add_img_5">Изображение 5:</label>
                        </a>
                        <input type="file" id="file_five" name="file_five" accept=".jpg, .jpeg, .png"/>
                    </div>
                    <div class="preview_file_five">
                        <p>Файл не загружен.</p>
                    </div>
                </div>
            </div>
        </div>

    <br>
    <br>
    <input type="submit" value="Добавить товар в каталог" class="button-input">
</form>
    <hr>
    <a href="/index" class="button-input-small">Назад ко всем товарам</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Адрес:</h3>
                <p>128784, г. Москва, наб. Молодцова, 5</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Телефон:</h3>
                <a href="tel:+74951234555" style="font-size: 1rem;">+7 (495) 123-45-55</a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 logo ">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-6 text-center push">
                <h2 class="mt-0 mb-0">EnjoyKid</h2>
                <p>Официальный поставщик.</p>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/displayimage.js}"></script>
</body>
</html>