<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователей</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link th:href="@{/img/icon/icon.png}" rel="icon" >
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-3 col-3 logo">
        <img th:src="@{/img/icon/icon.png}" alt="">
      </div>
      <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
        <h1>EnjoyKid</h1>
      </div>
      <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
        <a href="/index">Товары</a>
      </div>
      <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
        <a href="/admin/orders">Заказы</a>
      </div>
      <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
        <a href="/admin/person">Пользователи</a>
      </div>
      <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
        <form method="get" th:action="@{/auth/password/changepersonal}">
          <input type="submit" value="Изменить пароль" class="button-input-small">
        </form>
        <form method="post" th:action="@{/logout}">
          <input type="submit" value="Выйти из кабинета" class="button-input-small">
        </form>
      </div>
    </div>
  </div>
</header>

<div class="container bodysection">
<h2>Кабинет администратора. Пользователи</h2>
<h3>Редактирование пользователя</h3>
<form method="POST" th:action="@{/admin/person/edit/{id}(id=${editPerson.getId()})}" th:object="${editPerson}">
  <label for="login">Логин: </label>
  <input type="text" th:field="*{login}" id="login" readonly="readonly"> (не доступно для изменения)
  <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
  <br>
  <label for="password">Пароль: </label>
  <input type="text" th:field="*{password}" id="password" readonly="readonly"> (не доступно для изменения)
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
  <label for="role">Введите роль: </label>
  <select th:field="*{role}" name="role" id="role">
    <option th:value="ROLE_USER" th:text="ROLE_USER" th:selected="${editPerson.getRole()} == 'ROLE_USER' ? true : false" ></option>
    <option th:value="ROLE_SELLER" th:text="ROLE_SELLER" th:selected="${editPerson.getRole()} == 'ROLE_SELLER' ? true : false"></option>
    <option th:value="ROLE_ADMIN" th:text="ROLE_ADMIN" th:selected="${editPerson.getRole()} == 'ROLE_ADMIN' ? true : false"></option>
  </select>
<!--  <input type="text" th:field="*{role}" id="role">-->
  <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
  <br>
  <label for="first_name">Введите имя: </label>
  <input type="text" th:field="*{firstname}" id="first_name">
  <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
  <br>
  <label for="last_name">Введите фамилию: </label>
  <input type="text" th:field="*{lastname}" id="last_name">
  <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
  <br>
  <label for="email">Введите email: </label>
  <input type="text" th:field="*{email}" id="email">
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br>
  <label for="phone_number">Введите номер телефона: </label>
  <input type="text" th:field="*{phoneNumber}" id="phone_number">
  <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
  <br>
  <input type="submit" value="Сохранить изменения">
</form>
<hr>
<a href="/admin/person" class="button-input-small">Назад ко всем пользователям</a>
<hr>
<a href="/index" class="button-input-small">Назад в Главное меню</a>
</div>

</body>
</html>