<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<h3>Информация о пользователе</h3>
<p th:text="'Логин: ' + ${person.getLogin()}"/>
<p th:text="'Пароль: ' + ${person.getPassword()}"/>
<p th:text="'Роль: ' + ${person.getRole()}"/>
<p th:text="'Имя: ' + ${person.getFirstname()}"/>
<p th:text="'Фамилия: ' + ${person.getLastname()}"/>
<p th:text="'Email: ' + ${person.getEmail()}"/>
<p th:text="'Номер телефона: ' + ${person.getPhoneNumber()}"/>
<a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
<a th:href="@{/admin/person/delete/{id}(id=${person.getId()})}">Удалить пользователя</a>

<hr>
<a href="/admin/person">Назад ко всем пользователям</a>
<hr>
<a href="/index">Назад в Главное меню</a>
</body>
</html>