<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Товары</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/orders">Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/person">Пользователи</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container bodysection">
<h2>Кабинет администратора. Пользователи</h2>
<h3>Информация о пользователе</h3>
<p th:text="'Логин: ' + ${person.getLogin()}"/>
<p th:text="'Пароль: ' + ${person.getPassword()}"/>
<p th:text="'Роль: ' + ${person.getRole()}"/>
<p th:text="'Имя: ' + ${person.getFirstname()}"/>
<p th:text="'Фамилия: ' + ${person.getLastname()}"/>
<p th:text="'Email: ' + ${person.getEmail()}"/>
<p th:text="'Номер телефона: ' + ${person.getPhoneNumber()}"/>
<!--<a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>-->
<!--<a th:href="@{/admin/person/delete/{id}(id=${person.getId()})}">Удалить пользователя</a>-->
<a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}"><button class="button-link">Редактировать пользователя</button></a>
<a th:href="@{/admin/person/delete/{id}(id=${person.getId()})}"><button class="button-input-small" style="color: red;">Удалить пользователя</button></a>

<hr>
<a href="/admin/person" class="button-input-small">Назад ко всем пользователям</a>
<hr>
<a href="/index" class="button-input-small">Назад в Главное меню</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Адрес:</h3>
                <p>128784, г. Москва, наб. Молодцова, 5</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Телефон:</h3>
                <a href="tel:+74951234555" style="font-size: 1rem;">+7 (495) 123-45-55</a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 logo ">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-6 text-center push">
                <h2 class="mt-0 mb-0">EnjoyKid</h2>
                <p>Официальный поставщик.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>