<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seaching - Поиск</title>
</head>
<body>
<h3>Сортировка, поиск, фильтрация пользователей</h3>
<form method="post" th:action="@{/admin/person/sorting_and_searching_and_filters}">
    <label for="SortingAndSearchingAndFiltersOptions">Выберите параметр поиска:  </label>
    <select name="SortingAndSearchingAndFiltersOptions" id="SortingAndSearchingAndFiltersOptions">
        <option value="login">По Логину</option>
        <option value="role">По Роли</option>
        <option value="email">По Email адресу</option>
        <option value="phone_number">По Номеру телефона</option>
        <option value="last_name_start">По Началу символов в фамилии</option>
    </select>
    <br>
    <br>
    <label for="value">Введите значение: </label>
    <input type="text" name="value" id="value">
    <br>
    <br>
    <button type="submit">Поиск или фильтрация</button>
</form>

<h3>Результат поиска</h3>
<div th:each="person : ${person}">
    <p th:text="'id=' + ${person.getId()}"></p>
    <p th:text="'Логин: ' + ${person.getLogin()}"></p>
    <p th:text="'Роль: ' + ${person.getRole()}"/></p>
    <p th:text="'Имя: ' + ${person.getFirstname()}"></p>
    <p th:text="'Фамилия: ' + ${person.getLastname()}"></p>
    <p th:text="'Email: ' + ${person.getEmail()}"></p>
    <p th:text="'Телефон: ' + ${person.getPhoneNumber()}"></p>
    <a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
    <hr>
</div>
<hr>
<a href="/admin/person">Назад ко всем пользователям</a>
<hr>
<a href="/index">Назад в Главное меню</a>

</body>
</html>