<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск по Пользователям</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Товары</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/orders">Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/person">Пользователи</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<h2>Кабинет администратора. Пользователи</h2>

<h3>Сортировка, поиск, фильтрация пользователей</h3>
<form method="post" th:action="@{/admin/person/sorting_and_searching_and_filters}">
    <label for="SortingAndSearchingAndFiltersOptions">Выберите параметр поиска:  </label>
    <select name="SortingAndSearchingAndFiltersOptions" id="SortingAndSearchingAndFiltersOptions">
        <option value="login">По Логину</option>
        <option value="role">По Роли</option>
        <option value="email">По Email адресу</option>
        <option value="phone_number">По Номеру телефона</option>
        <option value="last_name_start">По Началу символов в фамилии</option>
    </select>
    <br>
    <br>
    <label for="value">Введите значение: </label>
    <input type="text" name="value" id="value">
    <br>
    <br>
    <button type="submit">Поиск или фильтрация</button>
</form>

<h3>Результат поиска</h3>
<div th:each="person : ${person}">
    <p th:text="'id=' + ${person.getId()}"></p>
    <p th:text="'Логин: ' + ${person.getLogin()}"></p>
    <p th:text="'Роль: ' + ${person.getRole()}"/></p>
    <p th:text="'Имя: ' + ${person.getFirstname()}"></p>
    <p th:text="'Фамилия: ' + ${person.getLastname()}"></p>
    <p th:text="'Email: ' + ${person.getEmail()}"></p>
    <p th:text="'Телефон: ' + ${person.getPhoneNumber()}"></p>
    <a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
    <hr>
</div>
<hr>
<a href="/admin/person">Назад ко всем пользователям</a>
<hr>
<a href="/index">Назад в Главное меню</a>

</body>
</html>