<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля пользователя</title>
</head>
<body>
<h3>Смена пароля пользователя
    <span th:text ="${#authentication.getName()}"></span>
</h3>
<form method="post" th:action="@{/auth/password/changepersonal}" th:object="${person}">
  <label for="login">Ваш логин: </label>
  <input type="text" th:field="*{login}" th:value="${person.setLogin(login)}" name="username" id="login" readonly="readonly">
  <br>
  <label for="password">Введите новый пароль: </label>
  <input type="password" th:field="*{password}" placeholder="Введите пароль" name="password" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
  <input type="submit" value="Изменить пароль пользователя">
</form>
<a href="/index">Назад ко всем товарам</a>
</body>
</html>