<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля для пользователя по Логину</title>
</head>
<body>
<h3>Смена пароля для пользователя по Логину</h3>
<form method="post" th:action="@{/auth/password/change}" th:object="${person}">
  <label for="login">Введите существующий логин: </label>
  <input type="text" th:field="*{login}" placeholder="Введите логин" name="username" id="login">
  <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
  <br>
  <label for="password">Введите новый пароль: </label>
  <input type="password" th:field="*{password}" placeholder="Введите пароль" name="password" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
  <input type="submit" value="Изменить пароль пользователя по данному логину">
</form>
<a href="/auth/login">Назад к авторизации</a>
</body>
</html>