<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Товары</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/orders">Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/person">Пользователи</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container bodysection">
<h2>Кабинет администратора. Заказы</h2>
    <br>
    <h4>Поиск по номеру заказа</h4>
<div class="anycenter">
<form method="post" th:action="@{/admin/orders/search}">
    <label for="findOrder">Введите последние 4 символа заказа:  </label>
    <input type="text"  th:value="*{search_value}" name="search_value" id="findOrder">
    <button type="submit">Поиск</button>
</form>
</div>
<h3>Результат поиска:</h3>
<!--<h4 th:text="${search_order.isEmpty() ? '' : 'Результат поиска:'}"></h4>-->
<div th:each="order : ${search_order}">
    <p> <a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="'Заказ № ' + ${order.getNumber()}"></a></p>
    <p th:text="'Статус: ' + ${order.getStatus()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd MMMM yyyy')}"></p>
    <p>Покупатель:  <a th:href="@{/admin/person/info/{id}(id=${order.getPerson().getId()})}" th:text="${order.getPerson().getLogin()}"></a></p>
    <hr>
</div>

<form method="GET" th:action="@{/admin/orders}">
<fieldset id="orders-filter">
    <legend>Фильтрация заказов по статусу: </legend>
    <div>
        <input type="radio" id="all" name="status" value="all" checked>
        <label for="all">Все заказы</label>
    </div>
    <div>
        <input type="radio" id="status0" name="status" value="status0">
        <label for="status0" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[0]}"/>
    </div>
    <div>
        <input type="radio" id="status1" name="status" value="status1">
        <label for="status1" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[1]}"/>
    </div>
    <div>
        <input type="radio" id="status2" name="status" value="status2">
        <label for="status2" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[2]}"/>
    </div>
    <div>
        <input type="radio" id="status3" name="status" value="status3">
        <label for="status3" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[3]}"/>
    </div>
    <div>
        <input type="radio" id="status4" name="status" value="status4">
        <label for="status4" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[4]}"/>
    </div>
</fieldset>
    <button type="submit">Применить</button>
</form>

<br>
<h3 id="orders-all">Все заказы: </h3>
    <table class="iksweb">
        <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Номер заказа</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Покупатель</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>
        <form method="GET" th:action="@{/admin/order/info/{id}(id=${order.getId()})}" th:each="order : ${orders}">

            <tr>
                <td><a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="${order.getId()}" class="button-input-small button-input-small-ashover"></a></td>
<!--                <td th:text="${order.getDateTime()}"></td>-->
                <td th:text="${#temporals.format(order.getDateTime(), 'dd MMMM yyyy')}"></td>
                <td th:text="${order.getStatus()}"></td>
                <td><a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="${order.getNumber()}" class="button-input-small"></a></td>
                <!--                <td th:text="${order.getNumber()}"></td>-->
<!--                <td th:text="${order.getProduct().getTitle()}"></td>-->
                <td><a th:href="@{/user/product/info/{id}(id=${order.getProduct().getId()})}" th:text="${order.getProduct().getTitle()}"></a></td>
                <td th:text="${order.getCount()} + ' шт.'"></td>
                <td th:text="${order.getPrice()} + ' руб.'"></td>
                <td><a th:href="@{/admin/person/info/{id}(id=${order.getPerson().getId()})}" th:text="${order.getPerson().getLogin()} + ' (данные)'"></a></td>
<!--                <td>-->
<!--                    <button type="submit">Подробнее</button>-->
<!--                </td>-->
            </tr>

        </form>
        </tbody>
    </table>

</tr>
</tr>
<!--<h3>VER 2</h3>-->
<!--<div th:each="currentOrderRow, wholeOrder : ${ordersMap}" class="order-body">-->
<!--    <span class="order-identifier" th:text="'Идентификатор заказа: ' + ${currentOrderRow.getKey()}"></span>-->
<!--    <span class="order-status" th:text="${currentOrderRow.getValue().toArray()[0].getStatus()}"></span>-->
<!--</div>-->

<!--<hr>-->
<!--<a href="/index">Назад в Главное меню</a>-->
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Адрес:</h3>
                <p>128784, г. Москва, наб. Молодцова, 5</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Телефон:</h3>
                <a href="tel:+74951234555" style="font-size: 1rem;">+7 (495) 123-45-55</a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 logo ">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-6 text-center push">
                <h2 class="mt-0 mb-0">EnjoyKid</h2>
                <p>Официальный поставщик.</p>
            </div>
        </div>
    </div>
</footer>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--<script th:src="@{/js/index.js}"></script>-->
</body>
</html>