<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о заказе</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Товары</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/orders">Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/admin/person">Пользователи</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container bodysection">
<h2>Информация о заказе</h2>

    <div>
        <h4 th:text="'Заказ № ' + ${order.getNumber()}"></h4>
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd MMMM yyyy')}"></p>
        <p th:text="'Статус: ' + ${order.getStatus()}"></p>
        <h5>Изменить статус заказа</h5>
        <!--        Принят, Обрабатывается, Доставляется, Исполнен, Отменен-->
        <form method="POST" th:action="@{/admin/orders/status1/{id}(id=${order.getId()})}">
            <button type="submit" th:disabled="${
            (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[1])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[2])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[3])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4])
             ? true : false}" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[1]}"></button>
        </form>
        <form method="POST" th:action="@{/admin/orders/status2/{id}(id=${order.getId()})}">
            <button type="submit" th:disabled="${
            (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[0])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[2])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[3])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4])
             ? true : false}" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[2]}"></button>
        </form>
        <form method="POST" th:action="@{/admin/orders/status3/{id}(id=${order.getId()})}">
            <button type="submit" th:disabled="${
            (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[0])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[3])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4])
             ? true : false}" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[3]}"></button>
        </form>
        <form method="POST" th:action="@{/admin/orders/cancel/{id}(id=${order.getId()})}">
            <button type="submit" th:disabled="${
            (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[3])
            or (order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4])
             ? true : false}" th:text="${T(com.example.springsecurityapplication.enumm.Status).values()[4]}"></button>
        </form>
        <hr>
        <h4>Товары</h4>
<!--        <p th:text="'id=' + ${order.getId()}"></p>-->
        <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="120px">
        <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
        <p th:text="'Количество: ' + ${order.getCount()}"></p>
        <p th:text="'Цена: ' + ${order.getPrice()}"></p>
        <a th:href="@{/user/product/info/{id}(id=${order.getProduct().getId()})}" th:text="'(открыть карточку товара)'" class="button-input-small"></a>
        <hr>

        <h4 th:text="'Покупатель: ' + ${order.getPerson().getLogin()}"></h4>
        <p th:text="'Имя: ' + ${order.getPerson().getFirstname()}"></p>
        <p th:text="'Фамилия: ' + ${order.getPerson().getLastname()}"></p>
        <p th:text="'Email: ' + ${order.getPerson().getEmail()}"></p>
        <p th:text="'Номер телефона: ' + ${order.getPerson().getPhoneNumber()}"></p>
        <a th:href="@{/admin/person/info/{id}(id=${order.getPerson().getId()})}" th:text="'(открыть карточку пользователя)'" class="button-input-small"></a>
        <hr>

        <h3>Комментарий покупателя: </h3>
        <textarea th:text="${order.getTextDetails()}"  cols="100" rows="6" readonly disabled></textarea>
<!--        <hr>-->
<!--    <hr>-->
<!--    <a href="/admin/orders">Назад ко всем заказам</a>-->
<!--        <span> | </span>-->
<!--    <a href="/admin/person">Назад ко всем пользователям</a>-->
<!--        <span> | </span>-->
<!--    <a href="/index">Назад в Главное меню</a>-->
    </div>
</div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6">
                    <h3 class="mt-0 mb-0 ta-s">Адрес:</h3>
                    <p>128784, г. Москва, наб. Молодцова, 5</p>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <h3 class="mt-0 mb-0 ta-s">Телефон:</h3>
                    <a href="tel:+74951234555" style="font-size: 1rem;">+7 (495) 123-45-55</a>
                </div>
                <div class="col-md-3 col-sm-6 col-6 logo ">
                    <img th:src="@{/img/icon/icon.png}" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-6 text-center push">
                    <h2 class="mt-0 mb-0">EnjoyKid</h2>
                    <p>Официальный поставщик.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>