<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>

<h3>История заказов: </h3>


<h4>Поиск по номеру заказа</h4>
<form method="post" th:action="@{/admin/orders/search}">
    <label for="findOrder">Введите последние 4 символа заказа:  </label>
    <input type="text"  th:value="*{search_value}" name="search_value" id="findOrder">
    <button type="submit">Поиск</button>
</form>

<h3>Результат поиска</h3>
<div th:each="order : ${search_order}">
    <p th:text="'id=' + ${order.getId()}"></p>
    <p th:text="'DateTime: ' + ${order.getDateTime()}"></p>
<!--    <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="300px">-->
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Цена: ' + ${order.getPrice()}"></p>
<!--    <p th:text="'Покупатель: ' + ${order.getPerson().getLogin()}"></p>-->
    <p>Покупатель:  <a th:href="@{/admin/person/info/{id}(id=${order.getPerson().getId()})}" th:text="${order.getPerson().getLogin()}"></a></p>
    <p th:text="'Заказ № ' + ${order.getNumber()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Статус: ' + ${order.getStatus()}"></p>
<!--    <a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>-->
    <hr>
</div>
<hr>

<h3>Все заказы: </h3>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Покупатель</th>
            <th>Номер заказа</th>
            <th>Статус</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form method="GET" th:action="@{/admin/order/info/{id}(id=${order.getId()})}" th:each="order : ${orders}">

            <tr>
                <td><a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="${order.getId()}"></a></td>
<!--                <td th:text="${order.getDateTime()}"></td>-->
                <td th:text="${#temporals.format(order.getDateTime(), 'dd MMMM yyyy')}"></td>
<!--                <td th:text="${order.getProduct().getTitle()}"></td>-->
                <td><a th:href="@{/user/product/info/{id}(id=${order.getProduct().getId()})}" th:text="${order.getProduct().getTitle()}"></a></td>
                <td th:text="${order.getCount()}"></td>
                <td th:text="${order.getPrice()}"></td>
                <td><a th:href="@{/admin/person/info/{id}(id=${order.getPerson().getId()})}" th:text="${order.getPerson().getLogin()}"></a></td>
                <td><a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="${order.getNumber()}"></a></td>
<!--                <td th:text="${order.getNumber()}"></td>-->
                <td th:text="${order.getStatus()}"></td>
                <td>
                    <button type="submit">Подробнее</button>
                </td>
            </tr>

        </form>
        </tbody>
    </table>

</tr>
</tr>
<h3>VER 2</h3>
<div th:each="currentOrderRow, wholeOrder : ${ordersMap}" class="order-body">
    <span class="order-identifier" th:text="'Идентификатор заказа: ' + ${currentOrderRow.getKey()}"></span>
    <span class="order-status" th:text="${currentOrderRow.getValue().toArray()[0].getStatus()}"></span>
</div>

<hr>
<a href="/index">Назад в Главное меню</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>