<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Каталог товаров</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/cart">Корзина</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/orders">Мои Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<header>
    <div class="container search-bar-section anycenter" id="search-bar-section">
        <form th:method="POST" th:action="@{/search}">
<!--            <label for="search-bar">Поиск по наименованию</label>-->
            <input type="search" name="search" style="width:360px" placeholder="Поиск по наименованию" th:value="*{value_search}" id="search-bar">
            <input type="text" name="ot" id="ot" hidden>
            <input type="text" name="do" id="do" hidden>
            <input type="submit" value="Найти" class="button-input-small">
        </form>
    </div>
</header>

<div class="container bodysection">
<h2>Корзина товаров</h2>
    <br>

<!--<h3>Корзина товаров</h3>-->
<div th:each="product : ${cart_product}">
    <h4 th:text="${product.getTitle()}"></h4>
    <!--    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>-->
    <p th:text="'Категория: ' + ${product.getCategory().getName()}" class="anycenter"></p>
    <div class="container">
        <div class="row anycenter" style="padding-right: 0px!important; padding-left: 0px!important;">
            <!--            <h3>Изображения товара: </h3>-->
            <div th:each="img : ${product.getImageList()}" class="col-md-2 col-sm-4 col-4 text-center align-self-center" style="padding: 3px!important;">
                <img th:src="'/img/' + ${img.getFileName()}" class="imgadapt">
            </div>
        </div>
    </div>
<!--    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">-->
    <h5>Цена
        <span style="font-weight: bold" th:text="${product.getPrice()} + ' руб.'"></span>
    </h5>
    <span>Подробнее: <a th:href="@{/user/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a></span>
    <br>
<!--    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}" class="button-input-small push">Удалить</a>-->

    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}"><button class="button-input-small">Удалить</button></a>
<!--    <p th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></p>-->
    <br>
    <br>
    <hr>
    <br>
</div>
    <br>
<!--<h3 th:text="'Итоговая цена: ' + ${price}"></h3>-->
<h4 th:text="${cart_product.isEmpty() ? 'Ваша корзина пуста.' : 'Итоговая цена: ' + price + ' руб.'}"></h4>

    <br>
<form method="POST" th:action="@{/order/create}">
    <h3><label for="text_to_order">Комментарий к заказу: </label></h3>
    <textarea name="textorder" th:value="*{textorder}" placeholder="Комментарий" id="text_to_order" cols="100" rows="6"></textarea>
    <br>

<!--    <button type="submit" text="Оформить заказ"></button>-->
    <input type="submit" value="Оформить заказ" class="anycenter button-input" th:disabled="${cart_product.isEmpty() ? true : false}">
</form>

<br>
<hr/>
<!--<a href="/order/create">Оформить заказ</a>-->
<a href="/index" class="anycenter button-input-small">Назад ко всем товарам</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Адрес:</h3>
                <p>128784, г. Москва, наб. Молодцова, 5</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h3 class="mt-0 mb-0 ta-s">Телефон:</h3>
                <a href="tel:+74951234555" style="font-size: 1rem;">+7 (495) 123-45-55</a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 logo ">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-6 text-center push">
                <h2 class="mt-0 mb-0">EnjoyKid</h2>
                <p>Официальный поставщик.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>