<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>

<header>
    <div class="search-bar-section" id="search-bar-section">
        <form th:method="POST" th:action="@{/search}">
            <label for="search-bar">Поиск по наименованию</label>
            <input type="search" name="search"  th:value="*{value_search}" id="search-bar">
            <input type="text" name="ot" value="1" id="ot" hidden>
            <input type="text" name="do" value="9999999" id="do" hidden>
            <input type="submit" value="Найти">
        </form>
    </div>
</header>

<h3>Корзина товаров</h3>
<div th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <br>
    <a th:href="@{/user/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
</div>
<!--<h3 th:text="'Итоговая цена: ' + ${price}"></h3>-->
<h3 th:text="${cart_product.isEmpty() ? 'Ваша корзина пуста.' : 'Итоговая цена: ' + price}"></h3>

<form method="POST" th:action="@{/order/create}">
    <label for="text_to_order">Комментарий к заказу: </label>
    <br>
    <textarea name="textorder" th:value="*{textorder}" placeholder="Комментарий" id="text_to_order" cols="100" rows="6"></textarea>
    <br>

<!--    <button type="submit" text="Оформить заказ"></button>-->
    <input type="submit" value="Оформить заказ"  th:disabled="${cart_product.isEmpty() ? true : false}">
</form>

<br>
<hr/>
<!--<a href="/order/create">Оформить заказ</a>-->
<a href="/index">Назад ко всем товарам</a>
</body>
</html>