<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link th:href="@{/img/icon/icon.png}" rel="icon" >
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_product_cards.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style_filter.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-3 col-3 logo">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
            <div class="col-md-3 col-sm-9 col-9 text-center text-md-start">
                <h1>EnjoyKid</h1>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/index">Каталог товаров</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/cart">Корзина</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <a href="/orders">Мои Заказы</a>
            </div>
            <div class="col-md-2 col-sm-12 col-12 text-center align-self-center">
                <form method="get" th:action="@{/auth/password/changepersonal}">
                    <input type="submit" value="Изменить пароль" class="button-input-small">
                </form>
                <form method="post" th:action="@{/logout}">
                    <input type="submit" value="Выйти из кабинета" class="button-input-small">
                </form>
            </div>
        </div>
    </div>
</header>

<h2>Каталог товаров</h2>

<!--<h3>Каталог товаров</h3>-->
<!--&lt;!&ndash;<a href="/logout">Выйти из личного кабинета</a>&ndash;&gt;-->
<!--&lt;!&ndash;<form method="post" th:action="@{/logout}">-->
<!--    <input type="submit" value="Выйти из личного кабинета">-->
<!--</form>-->
<!--<form method="get" th:action="@{/auth/password/changepersonal}">-->
<!--    <input type="submit" value="Изменить свой пароль (Personal)">-->
<!--</form>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/auth/password/changepersonal">Изменить свой пароль (Personal)</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br>-->
<!--<form method="get" th:action="@{/cart}">-->
<!--    <input type="submit" value="Корзина">-->
<!--</form>-->
<!--<form method="get" th:action="@{/orders}">-->
<!--    <input type="submit" value="Заказы">-->
<!--</form>&ndash;&gt;-->

<!--<form th:method="POST" th:action="@{/search}">
    <fieldset>
        <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
        <br>
        <label for="search">Поиск по наименованию</label>
        <input type="search" name="search"  th:value="*{value_search}" id="search">
        <br>
        <p>Цена, ₽</p>
        <label for="ot">От</label>
        <input type="text" name="ot"  th:value="*{value_price_ot}" id="ot">
        <label for="do">До</label>
        <input type="text" name="do"  th:value="*{value_price_do}" id="do">
        <br>
        <br>
        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
        <label for="ascending_price">Отсортировать по возрастанию цены</label>
        <br>
        <br>
        <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
        <label for="descending_price">Отсортировать по убыванию цены</label>
        <p>Категория товаров: </p>
        <input type="radio" id="furniture" name="category" value="furniture">
        <label for="furniture">Кат1-Мебель</label>
        <br>
        <br>
        <input type="radio" id="appliances" name="category" value="appliances">
        <label for=appliances>Кат2-Бытовая техника</label>
        <br>
        <br>
        <input type="radio" id="clothes" name="category" value="clothes">
        <label for="clothes">Кат3-Одежка</label>
        <br>
        <br>
        <input type="submit" value="Найти">
    </fieldset>
</form>
-->


<form th:method="POST" th:action="@{/product/search}">
    <section class="ftco-section">
        <div class="container">
            <div class="row mb-3 wrap">
                <div class="col-md-12 text-center">
                    <div class="heading-title mb-0">
                        <label class="search-title" for="search">Поиск по наименованию</label>
                        <input class="search-input" type="search" name="search"  th:value="*{value_search}" id="search">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-2 pb-md-0">Параметры сортировки и фильтрации:</h2>
                </div>
                <div class="col-md-4">
                    <div class="wrap w-100">
                        <div class="heading-title mb-0 text-center">
                            <h3>Стоимость: </h3>
                        </div>
                        <div class="ks-cboxtags p-0 m-0">
                            <div class="heading-title mb-0">
                                <label class="search-label" for="ot">От</label>
                                <input class="search-input-small" type="number" name="ot" placeholder="0" th:value="*{value_price_ot}" id="ot">
                            </div>
                            <div class="heading-title mb-0">
                                <label class="search-label" for="do">До </label>
                                <input class="search-input-small-2" type="number" name="do" placeholder="999999" th:value="*{value_price_do}" id="do">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wrap w-100">
                        <div class="heading-title mb-0 text-center">
                            <h3>Сортировка цены: </h3>
                        </div>
                        <ul class="ks-cboxtags p-0 m-0">
                            <li>
                                <input type="radio" name="price" id="ascending_price" value="sorted_by_ascending_price" checked>
                                <label for="ascending_price">по возрастанию</label>
                            </li>
                            <li>
                                <input type="radio" name="price" id="descending_price" value="sorted_by_descending_price">
                                <label for="descending_price">по убыванию</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wrap w-100">
                        <div class="heading-title mb-0 text-center">
                            <h3>Категория товаров: </h3>
                        </div>
                        <ul class="ks-cboxtags p-0 m-0">
                            <li>
                                <input type="radio" name="category" id="furniture" value="furniture">
                                <label for="furniture">Конструкторы</label>
                            </li>
                            <li>
                                <input type="radio" name="category" id="appliances" value="appliances">
                                <label for="appliances">Мягкие игрушки</label>
                            </li>
                            <li>
                                <input type="radio" name="category" id="clothes" value="clothes">
                                <label for="clothes">Наборы для творчества</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-1">
                <div class="col-md-12 text-center">
                    <div class="heading-title mb-0">
                        <input type="submit" value="Найти" class="button-input">
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>


<!--<h3>Результат: </h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
</div>
<hr>-->

<h3>Результат: </h3>
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">

        <div class="col-md-4 col-sm-6 mt-2" th:each="product : ${search_product}">

            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h5 class="font-weight-semibold mb-2">
                            <a th:href="@{/user/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="titlesearch" class="text-default mb-2" data-abc="true"></a>
                        </h5>
                        <p th:text="${product.getCategory().getName()}" class="text-muted mb-0" data-abc="true"></p>
                    </div>
                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <h4 class="mb-2 font-weight-semibold" th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></h4>

                    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Добавить в корзину</button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>
<hr>

<h3>Доступные товары: </h3>
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">

        <div class="col-md-4 mt-2" th:each="product : ${products}">

            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="card-img img-fluid" width="96" height="350" alt="">
                    </div>
                </div>

                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h5 class="font-weight-semibold mb-2">
                            <a th:href="@{/user/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title" class="text-default mb-2" data-abc="true"></a>
                        </h5>
                        <p th:text="${product.getCategory().getName()}" class="text-muted mb-2" data-abc="true"></p>
                    </div>
                    <div>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                    </div>

                    <h4 class="mb-2 font-weight-semibold" th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></h4>

                    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Добавить в корзину</button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-6 text-center push">
                <h2 class="mt-0 mb-0">EnjoyKid</h2>
                <p>Официальный поставщик.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 logo ">
                <img th:src="@{/img/icon/icon.png}" alt="">
            </div>
        </div>
    </div>
</footer>

<!--
<hr>
<h3>Доступные товары: </h3>
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <br>
    <a th:href="@{/user/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
    <hr>
</div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>