<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<h3>Заказы</h3>
<form method="POST" th:action="@{/orders/cancel/{id}(id=${order.getId()})}"  th:each="order : ${orders}">
<div>
    <h3 th:text="'Заказ № ' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="100px">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Цена: ' + ${order.getPrice()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Комментарий к заказу: ' + ${order.getTextDetails()}"></p>
    <p th:text="'Статус: ' + ${order.getStatus()}"></p>
</div>
    <button type="submit" th:disabled="${order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[0] ? false : true}">Отменить</button>
    <hr>

</form>
<a href="/index">Назад ко всем товарам</a>
</body>
</html>